<!-- enter_your_sql_server_name_here -->
<Settings server="dev-machine-10"
          ilrDB=""
          ilrFile=""
          rulebase=""
          commandTimeout="600"
          ilrSchema=""
          bulkLoadSchema=""
          uploadUseFileName=""
          uploadAddIdentity=""
          uploadCreateTables="">
    <databaseAlias alias="$(EDRS)"
                   name="DS_Employers"
                   schemaAlias="$(EDRS_Schema)"
                   schemaName="dbo"/>
    <databaseAlias alias="$(LargeEmployers)"
                   name="1516_Reference"
                   schemaAlias="$(LargeEmployers_Schema)"
                   schemaName="RefData"/>
    <databaseAlias alias="$(LARS)"
                   name="LARS"
                   schemaAlias="$(LARS_Schema)"
                   schemaName="Version_005"/>
    <databaseAlias alias="$(Org)"
                   name="ORGANISATION"
                   schemaAlias="$(Org_Schema)"
                   schemaName="Version_003"/>
    <databaseAlias alias="$(PostcodeFactors)"
                   name="PostcodeFactors"
                   schemaAlias="$(PostcodeFactors_Schema)"
                   schemaName="Version_001"/>
    <databaseAlias alias="$(Postcodes)"
                   name="Postcodes_List"
                   schemaAlias="$(Postcodes_Schema)"
                   schemaName="dbo"/>
    <!-- 1516_Reference, ULNv2 -->
    <databaseAlias alias="$(ULN)"
                   name="ULNv2" 
                   schemaAlias="$(ULN_Schema)"
                   schemaName="dbo"/>
    <databaseAlias alias="$(ESF)"
                   name="1516_Reference"
                   schemaAlias="$(ESF_Schema)"
                   schemaName="dbo"/>
    <databaseAlias alias="$(FCT)"
                   name="FCS-Contracts"
                   schemaAlias="$(FCT_Schema)"
                   schemaName="dbo"/>
    <databaseAlias alias="$(FCSESF)"
                   name="ESF_Contract_Reference_Data"
                   schemaAlias="$(FCSESF_Schema)"
                   schemaName="dbo"/>
    <databaseAlias alias="$(ONSPostcodes)"
                   name="ONS_Postcode"
                   schemaAlias="$(ONSPostcodes_Schema)"
                   schemaName="dbo"/>
    <databaseAlias alias="$(ESFConRef)"
                   name="ESF_Contract_Reference_Data"
                   schemaAlias="$(ESFConRef_Schema)"
                   schemaName="dbo"/>
    <databaseAlias alias="$(AECHistory)"
                   name="ApprenticeshipEarningsHistory"
                   schemaAlias="$(AECHistory_Schema)"
                   schemaName="Version_005"/>
</Settings>
