<?xml version="1.0"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <connectionStrings>
        <add name="mainConnection" providerName="System.Data.SqlClient" connectionString="Data Source=$(server);Initial Catalog=$(db);Integrated Security=SSPI"/>
    </connectionStrings>
</configuration>
